{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="border bg-secondary rounded p-2 my-2">
            <div>
                <div class="card text-center m-2">
                    <div class="card-body p-1">
                        <h1 class="text-center">Please sign in</h1>
                        <form method="post" style="width:300px; margin-left:36%;">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            
                            <label class="sr-only" for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <label class="sr-only" for="inputPassword">Password</label>
                            <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">

                            <input
                            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html
                            
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}

                            <button type="submit" class="mb-2 mr-md-4" style="background-color: #FFFFFF; border-radius: 20px; border-width: thick;">Se connecter</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
