<div class="border bg-secondary rounded p-2 my-2">
	<h3>Grâce à vous la ville bouge!!</h3>
	<p> 47.512 €  mobilisés (2,7% du budget 2019)</p>
	<p>  36 décisions votées </p>
	<p>	117 propositions déposées</p>
	<p> 1273 votes réalisés</p>
</div>