<div class="border bg-secondary rounded p-2 my-2">
	<h4> Je suis <strong>ceinture noire citoyenne</strong>{{dump(pointPercentage)}}</h4>
	<h4> Je peux créer un nouveau topic:<a href="#" class="btn btn-success">GO</a></h4>
	<div class="bg-light">
		<h3>Mes créations</h3>
		<ul>
			<li><a href="">arret de bus</a>
			<i class="fas fa-arrow-circle-up" style="color:green;"></i> 254,
			<i class="fas fa-arrow-circle-down" style="color:red;"></i>36
		</li>
	</ul>
</div>
<div class="bg-light">
	<h3>Mes derniers avis</h3>
	<ul>
		<li>
			<a href="">pas de bac à verre  proche de  rue Delandine</a>
			<i class="fas fa-arrow-circle-up" style="color:green;"></i> 254,
			<i class="fas fa-arrow-circle-down" style="color:red;"></i>36
		</li>
		<li>
			<a href="">un arret de bus blabla</a>
			<i class="fas fa-arrow-circle-up" style="color:green;"></i> 254,
			<i class="fas fa-arrow-circle-down" style="color:red;"></i>36
		</li>
	</ul>
</div>
</div>