<div class="border bg-secondary rounded p-2 my-2">
	<h3> Décidons ensemble <a href="#" class="btn btn-primary">j'en veux plus</a></h3>
	<div>
		{% for topic in topics %}
			{% if topic.status == "A Valider" %}
		<div class="card text-center m-2">
			<div class="card-body p-1">
				<h5 class="card-title mb-1"> construction d'un nouvel arret de bus rue Bourget			
				</h5>
			</div>
			<div class="card-footer text-muted p-1">
				favorable: 74% , budget: 34 k€, cloture le 19/07/19
			</div>
		</div>
			{% endif %}
		{% endfor %}
	</div>
</div>