<!-- As a heading -->
<div class="container p-0">
	<nav class="navbar navbar-light bg-light">
		<a href="{{ path('home') }}"><span class="navbar-brand mb-0 h1">Notre ville en mouvement</span></a>
	</nav>
</div>