<div class="container">
	<nav class="navbar navbar-expand-lg navbar-transparent">
	<a class="navbar-brand text-dark" href="{{ path('home') }}"><i class="fab fa-cuttlefish"></i> <strong>ma ville</strong> <i class="fas fa-exclamation"></i></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="my-2 my-lg-0 offset-9">
				{% if app.user %}
    				<a href="{{ path('app_logout') }}">
					<button class="mb-2 mr-md-4" style="background-color: #FFFFFF; border-radius: 20px; border-width: thick;">Se déconnecter</button></a>
				{% else %}
    				<a href="{{ path('app_login') }}">
					<button class="mb-2 mr-md-4" style="background-color: #FFFFFF; border-radius: 20px; border-width: thick;">Se connecter</button></a>
				{% endif %}
			</div>
		</div>
	</nav>
</div>
